<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index: PHP Framework</title>
</head>
<style>
  body {
    font-size: 18px;
  }
  h1 {
    display: block;
    border: solid;
    padding: 1.2rem;
    color: navy;

  }
  p {
    font-style: italic;
  }
</style>
<body>
  <h1>PHP Framework</h1>
  <p>This repo includes development work to create custom Model-View-Controller aka MVC model PHP Framework including PHP Design Patterns.</p>
  <code>
    <?php print_r($_GET) ?>
  </code>
</body>
</html>